@using GroceryStore.Common.ViewModels
@model IEnumerable<GroceryStore.Common.ViewModels.Admin.Manufacturers.ManufacturerIndexViewModel>
@{
    var pagesViewModel = new PagesViewModel()
    {
        CurrentPage = (int)ViewData["CurrentPage"],
        MaxPage = (int)ViewData["PagesCount"],
        AreaName="Admin",
        ControllerName = "Manufacturers",
        ActionName = "Index"

    };
    ViewData["Title"] = "Index";
}

<h2>All Manufacturers</h2>
<a asp-area="Admin" asp-controller="Manufacturers" asp-action="Create" class="btn btn-success">
    <i class="fa fa-plus"></i> Create new manufacturer
</a>
<table class="table table-striped table-bordered">
    <thead class="thead-info">
        <tr class="table-info">
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Name</th>
            <th scope="col">Products Count</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>
<br />
@await Html.PartialAsync("_NavPartial", pagesViewModel)

