@page "{id:int}"
@model GroceryStore.Web.Pages.Orders.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details for Order @this.RouteData.Values["id"]</h2>
<br />
@Html.DisplayFor(x => x.ViewModel)

