@model ChangePasswordBindingModel
@{
    ViewData["Title"] = "ChangePassword";
}
<form id="change-password-form" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    @Html.FormGroupFor(model => model.NewPassword)
    <div class="form-group">
        <div class="col-sm-10 col-sm-push2">
            <button type="submit" class="btn btn-primary">Update password</button>
            <a class="btn btn-default"
               asp-area="Admin" asp-controller="Users" asp-action="Index">
                Back
            </a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

