
@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure that to delete this account?</h3>
<a class="btn btn-danger"
   asp-area="Admin" asp-controller="Users" asp-action="ConfirmDelete" asp-route-id="@ViewData["UserId"]">
    Yes
</a>
<a class="btn btn-default"
   asp-area="Admin" asp-controller="Users" asp-action="Index">
    No
</a>

