@model GroceryStore.Common.BindingModels.Admin.Manufacturers.ManufacturerBindingModel
@{
    ViewData["Title"] = "Edit";
}
<h2>Edit @Model.Name</h2>
<div class="row">
    @Html.AntiForgeryToken()
    <div class="col-md-6">
        <form method="post">
            @Html.EditorForModel()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-push2">
                    <button type="submit" class="btn btn-warning">Edit</button>
                    <a class="btn btn-default"
                       asp-area="Admin" asp-controller="Manufacturers" asp-action="Index">
                        Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
