
@{
    ViewData["Title"] = "Contact";
}

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <div class="col-md-2">
        <address>
            Sofia<br />
            Sofia<br />
            <abbr title="Phone">P:</abbr>
            0888888888
        </address>
        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>



